---
import "@/styles/globals.css";

import CouponComponent from "../components/CouponComponent";
// import type Coupon from "@/types/Coupon";
import couponData from "../data/coupons.json";
import { CouponsSchema } from "@/schemas/Coupon.schema";
const coupons = CouponsSchema.parse(couponData);
---

<html>
  <head>
    <title>Coupon Codes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RK7FFR0BL7"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RK7FFR0BL7");
    </script>
  </head>
  <body>
    <CouponComponent coupons={coupons} client:load />
  </body>
</html>
